# Libraries

In [29]:
import pandas as pd
import json

# Analysis

In [30]:
prob_dist = 'uniform' #['exponential','poisson','uniform_int','uniform']

f = open(f'data/correct_data/{prob_dist}.json')
correct_data = json.load(f)

f = open(f'data/raw_data/{prob_dist}.json')
raw_data = json.load(f)

tabular_data1 = pd.read_csv(f'data/tabular_data/{prob_dist}_batch1.csv', header=0, index_col=0)
tabular_data2 = pd.read_csv(f'data/tabular_data/{prob_dist}_batch2.csv', header=0, index_col=0)
tabular_data = pd.concat([tabular_data1, tabular_data2])

In [31]:
# correct_data

In [32]:
# raw_data

In [33]:
tabular_data1.dtypes

batch           int64
batch_size      int64
num_type       object
prob_dist      object
params         object
values        float64
smells         object
dtype: object

In [34]:
tabular_data2.dtypes

batch           int64
batch_size      int64
num_type       object
prob_dist      object
params         object
values        float64
smells         object
dtype: object

In [35]:
tabular_data

,batch,batch_size,num_type,prob_dist,params,values,smells
0,0,1000,float,uniform,"{'a': -1, 'b': 1}",0.2511,"[[952, 'dummy_value', 0.02668088018810296], [7..."
1,0,1000,float,uniform,"{'a': -1, 'b': 1}",1.1610,"[[952, 'dummy_value', 0.02668088018810296], [7..."
2,0,1000,float,uniform,"{'a': -1, 'b': 1}",-0.9997,"[[952, 'dummy_value', 0.02668088018810296], [7..."
3,0,1000,float,uniform,"{'a': -1, 'b': 1}",-0.0930,"[[952, 'dummy_value', 0.02668088018810296], [7..."
4,0,1000,float,uniform,"{'a': -1, 'b': 1}",-0.5597,"[[952, 'dummy_value', 0.02668088018810296], [7..."
...,...,...,...,...,...,...,...
995,1,1000,float,uniform,"{'a': -10, 'b': 10}",-0.6023,"[[952, 'dummy_value', 0.02668088018810296], [7..."
996,1,1000,float,uniform,"{'a': -10, 'b': 10}",-6.1333,"[[952, 'dummy_value', 0.02668088018810296], [7..."
997,1,1000,float,uniform,"{'a': -10, 'b': 10}",7.4034,"[[952, 'dummy_value', 0.02668088018810296], [7..."
998,1,1000,float,uniform,"{'a': -10, 'b': 10}",-9.3490,"[[952, 'dummy_value', 0.02668088018810296], [7..."
999,1,1000,float,uniform,"{'a': -10, 'b': 10}",9.8813,"[[952, 'dummy_value', 0.02668088018810296], [7..."

In [36]:
tabular_data[['prob_dist','batch','params']].value_counts()

prob_dist  batch  params
uniform    0      {'a': -1, 'b': 1}      1000
           1      {'a': -10, 'b': 10}    1000
Name: count, dtype: int64

In [37]:
df_smells_raw_1 = pd.DataFrame(raw_data[0]['smells'], columns=['index','smell','prop'])
df_smells_raw_1['batch'] = 1
df_smells_raw_2 = pd.DataFrame(raw_data[1]['smells'], columns=['index','smell','prop'])
df_smells_raw_2['batch'] = 2

df_smells_raw = pd.concat([df_smells_raw_1,df_smells_raw_2])
df_smells_raw[['batch','smell']].value_counts()

batch  smell
1      missing_value        48
2      missing_value        48
1      suspect_precision    39
2      suspect_precision    39
1      extreme_value        35
2      extreme_value        35
1      duplicate_value      33
2      duplicate_value      33
1      dummy_value          27
2      dummy_value          27
1      number_as_string     24
2      number_as_string     24
1      integer_as_float      2
2      integer_as_float      2
Name: count, dtype: int64

In [38]:
df_smells_raw

     index              smell      prop  batch
0      952        dummy_value  0.026681      1
1      755        dummy_value  0.026681      1
2      318        dummy_value  0.026681      1
3      370        dummy_value  0.026681      1
4      496        dummy_value  0.026681      1
..     ...                ...       ...    ...
203    927  suspect_precision  0.042710      2
204     21  suspect_precision  0.042710      2
205    878  suspect_precision  0.042710      2
206    823   integer_as_float  0.032473      2
207    634   integer_as_float  0.032473      2

[416 rows x 4 columns]